main {
    height: 100%;
}

body {
    height: calc(100vh - var(--vh-offset, 0px));
    min-height: calc(100vh - var(--vh-offset, 0px)) !important;
    overflow: hidden;
}

#__next {
    height: calc(100vh - var(--vh-offset, 0px));
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(170, 170, 170, 0.5);
    border-radius: 5px;
}

* {
    transition: all 0.33s;
    box-sizing: border-box;
}

/* 清除 a 标签默认的样式 */
a {
    text-decoration: none;  /* 移除下划线 */
    color: inherit;         /* 使用父元素的字体颜色 */
}

